@import "../../_globalColor";

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.skills-main-div > * {
  flex: 1;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-text {
  font-size: 16px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  margin: 60 0;
}
.subTitle {
  color: $subTitle;
}

.skills-text-subtitle {
  margin-bottom: 3em;
}

.software-skills-main-div {
  margin-top: 40px;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
  }
  .skills-text-subtitle {
    font-size: 16px;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
}
